@import '../../../scss/custom-variables';

.card-block {
  .thumbnail {
    max-width: 100%;
  }
}

/**
 * Froala Editor
 * TODO - We will pay for Froala! It is a great editor
 * and we prefer to pay for good software. Just need funds first.
 */
.fr-wrapper + div > a {
  z-index: -1 !important;
  background-color: #fff !important;
  display: none !important;
}
.fr-wrapper + div {
  z-index: -1 !important;
  display: none !important;
}
.fr-toolbar {
  border-top: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 0 0 rgba(0,0,0,.12), 0 1px 1px 1px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,.12), 0 1px 1px 1px rgba(0,0,0,.16);
}
.fr-box.fr-basic.fr-top .fr-wrapper {
  min-height: 300px;
  border-radius: 0;
  -webkit-border-radius: 0;
  box-shadow: 0 0 0 rgba(0,0,0,0.12), 0 0 0 1px rgba(0,0,0,.13);
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.12), 0 0 0 1px rgba(0,0,0,.13);
}

/**
 * Drag and drop interface
 */
.file-upload-container {
  .drop-container {
    width: 100%;
    padding: 40px;
    background-color: darken($body-bg, 3%);
    border: 3px dashed darken($body-bg, 10%);

    .drop-files ul {
      list-style: none;
      padding-left: 0;
    }
  }

  .upload-button input {
    display: none;
  }
}
