<div *ngIf="files && files.length" class="row">
    <div class="col-sm-12">
        <div class="card animated fadeIn">
            <div class="card-block">
                <h4>Files for this publication</h4>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Thumbnail URL</th>
                        <th>Display Name</th>
                        <th>Visibility</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let file of files">
                        <td>
                            <img *ngIf="file.thumbnail_url" [src]="file.thumbnail_url" class="thumbnail" />
                            <input *ngIf="!file.thumbnail_url" [(ngModel)]="file.thumbnail_url" name="thumbnail_url" type="text" class="form-control" />
                        </td>
                        <td>
                            <input [(ngModel)]="file.display_name" name="display_name" type="text" class="form-control" />
                        </td>
                        <td>
                            <pstudio-tier-resource [referenceId]="file.id"></pstudio-tier-resource>
                        </td>
                        <td class="text-right">
                            <button (click)="store(file)" [disabled]="true" class="btn btn-secondary btn-pointer">
                                Save
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div *ngIf="uploadFiles && uploadFiles.length" class="row">
    <div class="col-sm-12">
        <div class="card animated fadeIn">
            <div class="card-block animated fadeIn">
                <h4>Files to Upload</h4>

                <table class="table">
                    <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>File Name</th>
                        <th>Display Name</th>
                        <th>Thumbnail URL</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let file of uploadFiles">
                        <td>
                            <button (click)="remove(file)" class="btn btn-sm btn-outline-danger btn-pointer">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                        <td><strong>{{ file.name }}</strong></td>
                        <td>
                            <input [(ngModel)]="file.display_name" name="display_name" type="text" class="form-control" />
                        </td>
                        <td>
                            <input [(ngModel)]="file.thumbnail_url" name="thumbnail_url" type="text" class="form-control" />
                        </td>
                    </tr>
                    </tbody>
                </table>

                <div class="text-right">
                    <button (click)="upload()" class="btn btn-lg btn-secondary btn-pointer start-upload-btn">
                        Upload
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="referenceId" class="file-upload-container mt-2 mb-3">
    <div ngFileDrop class="drop-container" [class.is-drop-over]="dragOver"
         (uploadOutput)="uploadOutput($event)"
         [uploadInput]="uploadInput">
        <div class="text-center">
            <label class="upload-button btn btn-lg btn-secondary btn-pointer">
              Choose File(s)
              <input type="file"
                     ngFileSelect
                     (uploadOutput)="uploadOutput($event)"
                     [uploadInput]="uploadInput"
                     multiple>
            </label>

            <h2 class="mt-1">or Drag &amp; Drop Here</h2>
        </div>
    </div>
</div>
