@import '../../../scss/custom-variables';

/**
 * Drag and drop interface
 */
.file-upload-container {
  .drop-container {
    width: 100%;
    padding: 40px;
    background-color: darken($body-bg, 3%);
    border: 3px dashed darken($body-bg, 10%);

    .drop-files ul {
      list-style: none;
      padding-left: 0;
    }
  }

  .upload-button input {
    display: none;
  }
}
