<div class="row">
    <div class="col-sm-12">
        <div class="card animated fadeIn">
            <div class="card-block">
                <h4>Files for this publication</h4>

                <table class="table">
                    <thead>
                    <tr>
                        <th></th>
                    </tr>
                    </thead>
                </table>

                <div *ngFor="let file of files" class="col-sm-6 col-md-3">
                    <h4>{{ file.display_name }}</h4>
                    <p><a [href]="file.url" target="_blank">View File</a></p>
                    <pstudio-tier-resource [referenceId]="file.id"></pstudio-tier-resource>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="referenceId" class="file-upload-container mt-2 mb-3">
    <div ngFileDrop class="drop-container" [class.is-drop-over]="dragOver"
         (uploadOutput)="onUploadOutput($event)"
         [uploadInput]="uploadInput">
        <div class="row">
            <div class="drop-files col-sm-4">
                <ul>
                    <li *ngFor="let file of uploadFiles">
                        <strong>{{ file.name }}</strong>
                    </li>
                </ul>
            </div>

            <div class="col-sm-4 text-center">
                <label class="upload-button btn btn-lg btn-secondary btn-pointer">
                  Choose File(s)
                  <input type="file"
                         ngFileSelect
                         (uploadOutput)="onUploadOutput($event)"
                         [uploadInput]="uploadInput"
                         multiple>
                </label>

                <h2 class="mt-1">or Drag &amp; Drop Here</h2>
            </div>

            <div class="col-sm-4 text-right">
                <button (click)="startUpload()" class="btn btn-lg btn-primary btn-pointer start-upload-btn">
                    Upload
                </button>
            </div>
        </div>
    </div>
</div>
